<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="../styles/style1.css">
<script src="../scripts/manejador_perfil.js"></script>
<title>Pagina de perfil: Cliente</title>
</head>
<body>
  <header>
    <div class="logo">
      <a href="cliente.html">Logo</a>
    </div>
    <div class="opciones">
      <button class="botonOpciones" id="config-perfil"><h3>Config.</h3></button>
      <button class="botonOpciones" id="eliminar-perfil"><h3>Eliminar Usuario</h3></button>
    </div>
    <div class="cont-perfil">
      <div class="cont-c">
         <div class="cont-usuario"> 
          <div id="nick"></div>
          <button id="btn-logout">Desconectar</button>
         </div>
      </div>
    </div>
  </header>
  <section>
      <div id="cont-form-config">
          
      </div>
      <div class="cont-multimedia">
      </div>
      <div class="cont-multimedia">
      </div>
      <div class="cont-multimedia">
      </div>
      <div class="cont-multimedia">
      </div>
      
  </section>
  <footer>
      <div>
      
           <p>Hecho por Jose Faria Correo: josefariakike95@gmail.com telf: 0424-6375424</p>
         
      </div>
  </footer>
</body>
</html>

