<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="../styles/style1.css">
<script src="../scripts/login.js"></script>
<title>Iniciar Sesion</title>
</head>
<body>
  <header>
    <div class="logo">
      <a href="../../index.html">Logo</a>
    </div>
    <div class="opciones">

    </div>
    <div class="cont-cuenta">
      <div class="cont-c">
        <a href="./registro.html">Registrarse</a>
      </div>
    </div>

  </header>
  <section>
    <div class="cont-form">
      <div class="cont-f">
        <h1>Iniciar Sesion</h1>
      <form class="form" id="form-is">
        <input type="text" name="usuario" placeholder="Usuario" >
        <input type="password" name="pw" placeholder="Password" >
      </form>
      </div>
      <div class="cont-b">
        <button class="boton" id="boton">Iniciar sesion</button>
      </div>
    </div>

  </section>
  <footer>
  </footer>

</body>
</html>